.navigation
{
    margin:3.5vw;
    display:block;
    position:relative;
}
Nav div
{
    display: inline-block;
    color :rgba(10, 10, 10, 0.75);
    background-color: rgb(209, 209, 209);
    text-decoration: none;
    font-size:20px;
    font-family: arial;
    font-weight: 500;
    border-radius: 0.5px;
}
Nav div:hover{
    background-color:#03a9f4;
    color: #ddd;
    cursor: pointer;
}
.active{
    background-color: #03a9f4;
    color:#ddd;
}
.home
{
    padding:3px 3px;
    width:5%;
    height:2%;
    text-align: center;
}
.mobile
{
    padding:3px 3px;
    width:6%;
    height:2%;
    text-align: center;
}
.camera
{
    padding:3px 3px;
    width:7%;
    height:2%;
    text-align: center;
}
.watch
{
    padding:3px 3px;
    width:7%;
    height:2%;
    text-align: center;
}
.shoes
{
    padding:3px 3px;
    width:5%;
    height:2%;
    text-align: center;
}
.headphones
{
    padding:3px 3px;
    width:10%;
    height:2%;
    text-align: center;
}
img{
    width:250px;
    height:250px;
} 
div.container
{
    display:flex;
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div.itembox
{
    margin:5px 0px;
    display:inline-flex;
    box-shadow: 1px 1px 2px grey;
}
#button
{
    display:none;
}
